<h1>Rubriques</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let num of valorsCapcalera">{{num}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let criteri of criteris; let i = index">
      <td>{{criteri}}</td>
      <td *ngFor="let num of valorsCapcalera; let y = index">
        <div *ngFor="let valoracio of taula[i]">
          <label *ngIf="valoracio.valor == num"
            (click)="guardarSeleccionats(criteri, num)">{{valoracio.descripcio}}</label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
