<h1>Rubriques</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let num of valorsCapcalera">{{num}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let criteri of criteris; let i = index">
      <td>{{criteri}}</td>
      <td *ngFor="let num of valorsCapcalera; let y = index">
        <div *ngFor="let valoracio of taula[i]">
          <label *ngIf="valoracio.valor == num" for={{valoracio.valor}}{{i}}
            (click)="guardarSeleccionats(criteri, num)">
            <input *ngIf="valoracio.isSelected" type="radio" name={{i}} id={{valoracio.valor}}{{i}} checked="checked">
            <input *ngIf="!valoracio.isSelected" type="radio" name={{i}} id={{valoracio.valor}}{{i}}>
            {{valoracio.descripcio}}
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<h3>Mitjana</h3>
<p>{{mitjana}}</p>
